body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* Ensure background is behind the content */
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Ensure content is above the background */
}

.logo {
    width: 250px;
    height: auto;
    margin-bottom: 250px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.logo:hover {
    border-color: #ffcc00;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05) rotate(2deg);
}

.predictors {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.predictor {
    background-color: rgba(221, 208, 208, 0.8);
    color: black;
    padding: 10px 20px;
    margin: 0 100px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

.predictor:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05) rotate(2deg);
    border-color: #ffcc00;
}

.predictor2:hover {
    transform: scale(1.05) rotate(-2deg);
}

@media (max-width: 768px) {
    .logo {
        width: 100px;
    }

    .predictor {
        font-size: 14px;
        padding: 8px 16px;
    }
}

.connectors {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}